<% if user_signed_in? %>
  <%= current_user.first_name %>
  <%= current_user.last_name %>
  <%= current_user.email %>
<% end %>

<h1>Pages#home</h1>

<p>for any user, even not logged in</p>

<p>our amazing content</p>

